/* simple CSS reset */
* {padding:0;margin:0;}

::selection {
	background: #2980b9;
	color: #fff;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #ecf0f1;
}

h1 {
	font-family: 'Lato', cursive;
	font-weight: 700;
}

/* === NAVIGATION === */

.navbar {
	background: white;
	height: 70px;
	padding: 0;
	border-bottom: 2px solid #7f8c8d;
	box-shadow: 0px 1px 2px rgba(127, 140, 141,0.2);
}

.navbar-header {
	height: 70px;
}

.navbar-brand {
	font-family: 'Lato', cursive;
	font-weight: 700;
	color: #95a5a6 !important;
	font-size: 24px;
	line-height: 35px;
}

.navbar-toggle {
	-webkit-transition: 0.2s background-color ease-in;
	transition: 0.2s background-color ease-in;
	-moz-transition: 0.2s background-color ease-in;
	-o-transition: 0.2s background-color ease-in;
	border: 3px solid #95a5a6 !important;
	background-color: #ecf0f1;
	line-height: 35px;
}

.navbar-toggle:hover {
	background-color: #95a5a6 !important;
}

.navbar-toggle:focus {
	background-color: #95a5a6 !important;
}

.navbar-inverse {
	border: none;
}

.navbar-nav {
	height: 70px;
}

.navbar-nav li {
	padding-left: 5px;
	padding-right: 5px;
	height: 70px;
	border-bottom: 3px solid rgba(52, 152, 219,0.2);
	-webkit-transition: 0.5s border-bottom ease-in;
	transition: 0.5s border-bottom ease-in;
	-moz-transition: 0.5s border-bottom ease-in;
	-o-transition: 0.5s border-bottom ease-in;
}

.navbar-nav li a {
	color: #95a5a6 !important;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	line-height: 35px;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
}

.navbar-nav li.active a {
	background-color: transparent !important;
	color: #3498db !important;
}

.navbar-nav li.active {
	border-bottom: 3px solid rgba(52, 152, 219,1.0);
}

.navbar-nav li a:hover {
	color: #3498db !important;
}

/* === SPLASH === */

.jumbotron {
	text-align: center;
	background: rgba(0,0,0,0) url('../img/peak.jpg');
	background-size: cover;
	background-position: center;
	color: #ecf0f1;
	width: 100%;
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 0px;
	position: relative;
	z-index: 100;
}

.jumbotron:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0,0,0,0.4);
  content: ' ';
}

.jumbotron h1 {
	padding-bottom: 25px;
}

.jumbotron p {
	padding-bottom: 25px;
}

.btn-primary {
	background-color: #3498db;
	border: none;
	border-bottom: 3px solid #2980b9;
	-webkit-transition: 0.2s all ease-in;
	transition: 0.2s all ease-in;
	-moz-transition: 0.2s all ease-in;
	-o-transition: 0.2s all ease-in;
}

.btn-primary:hover {
	background-color: #ecf0f1;
	border-color: #ecf0f1;
	color: #95a5a6;
}

/* === SERVICES === */

.services {
	text-align: center;
	color: #7f8c8d;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
	z-index: 200;
}

.services .row {
	margin-top: 40px;
}

.services h1 {
	padding-bottom: 20px;
}

.services h2 {
	font-size: 26px;
	font-weight: 300;
	padding-bottom: 20px;
}

.services p {
	padding-bottom: 20px;
	font-size: 16px;
}

.services i {
	font-size: 42px;
	color: #3498db;
}

/* === EMAIL SUBSCRIBE === */

.email {
	background-color: rgba(52, 152, 219,0.8);
	color: #fff;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
}

.email .row {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	position: relative;
}

.subscribe {
	color: #95a5a6;
	width: 100%;
	border-radius: 8px;
	border: 3px solid #2980b9;
	height: 45px;
	padding: 10px;
	text-align: center;
	font-size: 16px;
	border: none;
}

.subscribe:focus {
	outline: none;
}

.submit {
	background-color: #2980b9;
	height: 45px;
	border-radius: 8px;
	width: 100%;
	font-size: 16px;
	border: none;
	-webkit-transition: 0.3s background ease-in;
	transition: 0.3s background ease-in;
	-o-transition: 0.3s background ease-in;
	-moz-transition: 0.3s background ease-in;
}

.submit:hover {
	background: #3498db;
}

/* === GALLERY === */

.gallery {
	background-color: #ecf0f1;
	color: #7f8c8d;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.gallery h1 {
	padding-bottom: 30px;
}

.gallery img {
	margin: 0 auto;
	margin-bottom: 30px;
	-webkit-transition: 0.3s opacity ease-in, 0.3s border-color ease-in;
	transition: 0.3s opacity ease-in, 0.3s border-color ease-in;
	-o-transition: 0.3s opacity ease-in, 0.3s border-color ease-in;
	-moz-transition: 0.3s opacity ease-in, 0.3s border-color ease-in;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 3px solid transparent;
	border-radius: 10px;
}

.gallery img:hover {
	opacity: 0.6;
	border-color: #34495e;
}

/* === TESTIMONIALS === */

.testimonials {
	background-color: rgba(52, 152, 219,0.8);
	color: #fff;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.quovolve-nav:before, .quovolve-nav:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;  
} 
.quovolve-nav:after { clear: both; }

.quovolve-nav {
	
}
.quovolve-nav-above {
  margin-bottom: 20px;
}
.quovolve-nav-below {
  margin-top: 20px;
}

blockquote {
	border: none !important;
}

.quovolve-nav span {
  float: left;
  margin-right: 5px;
}

.quovolve li {
	list-style: none;
}

.quovolve li p.quote {
	font-size: 24px;
	font-weight: 300;
}

.quovolve-nav a:hover {
  background: #dd390d;
}

.nav-numbers li a {
	width: 15px !important;
	height: 15px;
	padding: 0px;
	color: transparent;
	display: block;
	background-color: rgba(236, 240, 241,0.4);
	border-radius: 100%;
	
  -webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	-moz-transition: 0.5s all ease
	-o-transition: 0.5s all ease;
}


/**
 * Numbered Navigation
 */
.nav-numbers {
  list-style: none;
    padding-left: 0;
}

.nav-numbers li {
	display: inline-block;
	list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-numbers li.active a, .nav-numbers li a:hover {
	
  -webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	-moz-transition: 0.5s all ease
	-o-transition: 0.5s all ease;
  background: rgba(236, 240, 241,1.0);
}


/**
 * Navigation Description
 */
.nav-text {

  color: #aaa;
}

/* === FOOTER === */

