/* simple CSS reset */
* {padding:0;margin:0;}

::selection {
	background: #2980b9;
	color: #fff;
}


body {
  padding-top: 70px;
  font-family: 'Lato', sans-serif;
  background-color: #ecf0f1;
}

h1 {
	font-family: 'Lato', cursive;
	font-weight: 700;
}

/* === NAVIGATION === */


.navbar {
	background: white;
	min-height: 70px;
	padding: 0;
	border-bottom: 2px solid #7f8c8d;
	box-shadow: 0px 1px 2px rgba(127, 140, 141,0.2);
}

.navbar-header {
	height: 70px;
}

.navbar-brand {
	font-family: 'Lato', cursive;
	font-weight: 700;
	color: #95a5a6 !important;
	font-size: 24px;
	line-height: 35px;
}

.navbar-toggle {
	margin: 0px;
	margin-top: 17px;
	margin-right: 17px;
	outline: none;
	background: white;
	border: 2px solid #95a5a6 !important;
	color: #95a5a6 !important;
	transition: 0.5s background ease-in-out;
	-o-transition: 0.5s background ease-in-out;
	-moz-transition: 0.5s background ease-in-out;
	-webkit-transition: 0.5s background ease-in-out;
}

.icon-bar {
	color: #95a5a6 !important;
	background-color: #95a5a6 !important;
}

.navbar-toggle:hover {
	background-color: rgba(52, 152, 219,0.2) !important;
}

.navbar-toggle:focus{
	background-color: rgba(52, 152, 219,0.2) !important;
}


.navbar-inverse {
	border: none;
}

.navbar-nav {
	min-height: 70px;
}

.navbar-nav li {
	padding-left: 5px;
	padding-right: 5px;
	height: 70px;
	border-bottom: 3px solid rgba(52, 152, 219,0.2);
	-webkit-transition: 0.5s border-bottom ease-in;
	transition: 0.5s border-bottom ease-in;
	-moz-transition: 0.5s border-bottom ease-in;
	-o-transition: 0.5s border-bottom ease-in;
}

.navbar-nav li a {
	color: #95a5a6 !important;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
	line-height: 35px;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
}

.navbar-nav li.active a {
	background-color: transparent !important;
	color: #3498db !important;
}

.navbar-nav li.active {
	border-bottom: 3px solid rgba(52, 152, 219,1.0);
}

.navbar-nav li a:hover {
	color: #3498db !important;
}


/* === SPLASH === */

.jumbotron {
	text-align: center;
	background: rgba(0,0,0,0) url('../img/peak.jpg');
	background-size: cover;
	background-position: center;
	color: #ecf0f1;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-bottom: 0px;
	position: relative;
	z-index: 100;
}

.jumbotron:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0,0,0,0.4);
  content: ' ';
}

.jumbotron h1 {
	padding-bottom: 25px;
}

.jumbotron p {
	padding-bottom: 25px;
	font-weight: 400;
}

.btn-primary {
	background-color: #3498db;
	border: none;
	border-bottom: 3px solid #2980b9;
	-webkit-transition: 0.2s all ease-in;
	transition: 0.2s all ease-in;
	-moz-transition: 0.2s all ease-in;
	-o-transition: 0.2s all ease-in;
	font-weight: 400;
}

.btn-primary:hover {
	background-color: #fff;
	border-color: #ecf0f1;
	color: #95a5a6;
}

/* === SERVICES === */

.services {
	text-align: center;
	color: #7f8c8d;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
	z-index: 200;
}

.services .row {
	margin-top: 40px;
}

.services h1 {
	padding-bottom: 20px;
}

.services h2 {
	font-size: 26px;
	padding-bottom: 20px;
	font-weight: 700;
}

.services p {
	padding-bottom: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #95a5a6;
}

.services i {
	font-size: 42px;
	color: #3498db;
}

/* === EMAIL SUBSCRIBE === */

.email {
	background-color: rgba(52, 152, 219,0.8);
	color: #fff;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;
}

/*
.email .row {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	position: relative;
}

.subscribe {
	color: #95a5a6;
	width: 100%;
	border-radius: 8px;
	border: 3px solid #2980b9;
	height: 45px;
	padding: 10px;
	font-size: 16px;
	border: none;
	font-weight: 700;
	margin-bottom: 20px;
}

.subscribe:focus {
	outline: none;
}

.submit {
	background-color: #2980b9;
	height: 45px;
	border-radius: 8px;
	width: 100%;
	font-size: 16px;
	border: none;
	-webkit-transition: 0.3s background ease-in;
	transition: 0.3s background ease-in;
	-o-transition: 0.3s background ease-in;
	-moz-transition: 0.3s background ease-in;
	font-weight: 700;
	-webkit-appearance: none;
}

.submit:hover {
	background: #3498db;
}

*/


.email-subscribe {
	width: 100%;
	height: 50px;
	margin:0 auto;
	margin-top: 40px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	margin-bottom: 40px;
}

.signup {
	width: 28%;
	height: 50px;
	float: right;
	background-color: #FAFAFA;
	border-radius: 4px;
	margin-top: -50px;
	display: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #999999;
	transition: width 2s ease;
	-webkit-transition: width 2s ease;
}

.signup-waiting {
	background-image: url("../images/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FAFAFA;
}

.signup-error {
	background-color: #FEAD66;
	color: white;
}

.signup-success {
	background-color: #76FF82;
	width: 100%;
	color: white;
}

.enteremail {
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	width: 70%;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	outline: none;
	background-color: #FAFAFA;
	border-radius: 4px;
	border: 0;
	color: #999999;
	font-size: 16px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
}

.enteremail:focus {
	border: 1px solid rgba(254,229,240,1);
}

.email-subscribe input[type='submit'] {
	width: 28%;
	height: 50px;
	background-color: rgba(131,203,255,0.5);
	outline: none;
	float: right;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-webkit-appearance: none;
}

.email-subscribe input[type='submit']:hover {
	background-color: rgba(131,203,255,1);
}

.email-subscribe input[type='submit']:active {
	box-shadow: 0px 1px 2px rgba(43,115,166,0.5) inset;
}

@media all and (max-width: 679px) {
	.enteremail { width: 100%; }
	.signup, .email-subscribe input[type='submit'] { width: 100% !important; float: none; margin-top: 20px; }
	.email-subscribe { height: 120px; }
	.signup-error, .signup-waiting { position: absolute; margin-top: -50px; }
	.signup-success, .signup-moveup { position: absolute; margin-top: 0px; }
	.signup-done { display: none; }
}


/* === GALLERY === */

.gallery {
	background-color: #ecf0f1;
	color: #7f8c8d;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.gallery h1 {
	padding-bottom: 30px;
}

.gallery img {
	margin: 0 auto;
	margin-bottom: 30px;
	-webkit-transition: 0.2s opacity ease-in, 0.2s border-color ease-in;
	transition: 0.2s opacity ease-in, 0.2s border-color ease-in;
	-o-transition: 0.2s opacity ease-in, 0.2s border-color ease-in;
	-moz-transition: 0.2s opacity ease-in, 0.2s border-color ease-in;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 3px solid transparent;
	border-radius: 10px;
	width: 100%;
	cursor: pointer;
}

.gallery img:hover {
	opacity: 0.6;
	border-color: #34495e;
}

/* === TESTIMONIALS === */

.testimonials {
	background-color: rgba(52, 152, 219,0.8);
	color: #fff;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
}

.quovolve-nav:before, .quovolve-nav:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;  
} 
.quovolve-nav:after { clear: both; }

.quovolve-nav {
	
}
.quovolve-nav-above {
  margin-bottom: 20px;
}
.quovolve-nav-below {
  margin-top: 20px;
}

blockquote {
	border: none !important;
}

.quovolve-nav span {
  float: left;
  margin-right: 5px;
}

.quovolve li {
	list-style: none;
}

.quovolve li p {
	font-style: italic;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
}

.quovolve li p.quote {
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	color: white;
}

.quovolve-nav a:hover {
  background: #dd390d;
}

.nav-numbers li a {
	width: 15px !important;
	height: 15px;
	padding: 0px;
	color: transparent;
	display: block;
	background-color: rgba(236, 240, 241,0.4);
	border-radius: 100%;
	
  -webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	-moz-transition: 0.5s all ease
	-o-transition: 0.5s all ease;
}


/**
 * Numbered Navigation
 */
.nav-numbers {
  list-style: none;
    padding-left: 0;
}

.nav-numbers li {
	display: inline-block;
	list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-numbers li.active a, .nav-numbers li a:hover {
	
  -webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	-moz-transition: 0.5s all ease
	-o-transition: 0.5s all ease;
  background: rgba(236, 240, 241,1.0);
}

/* === FEATURED SERVICE === */

.featured {
	background-color: #ecf0f1;
	color: #7f8c8d;
	text-align: left;
	padding-top: 80px;
	padding-bottom: 80px;
	font-weight: 600;
	font-size: 16px;
}

.featured h2 {
	color: #7f8c8d;
	margin-bottom: 30px;
}

.featured p {
	color: #95a5a6;
}

.featured img {
	margin: 0 auto;
}

/* === CONTACT === */

.contact {
	background-color: rgba(52, 152, 219,0.8);
	text-align: left;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #7f8c8d;
}

.contact h2 {
	color: #fff;
}

.contact p {
	font-weight: 600;
	font-size: 16px;
	color: #fff;
}

.contact-form {
	width: 100%;
	height: 40px;
	padding: 0 10px 0 10px;
	border: 0;
	border-radius: 4px;
	margin-bottom: 30px;
}

.message {
	border: 0;
	border-radius: 4px;
	width: 100%;
	min-height: 150px;
	padding: 10px;
	margin-bottom: 30px;
}

.contact-send {
	width: 100%;
	height: 50px;
	background-color: rgba(131,203,255,0.5);
	outline: none;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-webkit-appearance: none;
}

.contact-send:hover {
	background-color: rgba(131,203,255,1);
}

/* === FOOTER === */

.footer {
	background-color: #7f8c8d;
	color: #bdc3c7;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 26px;
}

.footer i {
	margin: 0 20px 0 20px;
	border: 3px solid #bdc3c7;
	border-radius: 100%;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.footer a {
	color: #bdc3c7;
}

.footer a:hover {
	color: #fff;
	border-color: #fff;
}