/* simple CSS reset */
* {padding:0;margin:0;}

::selection {
	background: #1abc9c;
	color: #fff;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  background-color: #ecf0f1;
}

h1 {
	font-family: 'Lato', cursive;
	font-weight: 700;
}

/* === NAVIGATION === */

.navbar {
	background: #ecf0f1;
	padding: 10px 0 10px 0;
}

.navbar-brand {
	font-family: 'Lato', cursive;
	font-weight: 300;
	color: #7f8c8d !important;
	font-size: 24px;
}

.navbar-toggle {
	-webkit-transition: 0.2s background-color ease-in;
	transition: 0.2s background-color ease-in;
	-moz-transition: 0.2s background-color ease-in;
	-o-transition: 0.2s background-color ease-in;
	position: relative;
}

.navbar-toggle:hover {
	background-color: #34495e !important;
}

.navbar-toggle:focus {
	background-color: #34495e !important;
}

.navbar-inverse {
	border: none;
}

.navbar-nav li {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-nav li a {
	color: #7f8c8d !important;
	font-size: 16px;
	font-weight: 300;
	cursor: pointer;
	-moz-transition: 0.5s color ease-in-out, 0.5s background ease-in-out;
	-o-transition: 0.5s color ease-in-out, 0.5s background ease-in-out;
	transition: 0.5s color ease-in-out, 0.5s background ease-in-out;
	-webkit-transition: 0.5s color ease-in-out, 0.5s background ease-in-out;
}

.navbar-nav li.active a {
	background-color: transparent !important;
	color: #1abc9c !important;
}

.navbar-nav li a:hover {
	color: #1abc9c !important;
}

/* === SPLASH === */

.jumbotron {
	text-align: center;
	background: rgba(0,0,0,0) url('../img/peak.jpg');
	background-size: cover;
	background-position: center;
	color: #ecf0f1;
	width: 100%;
	height: auto;
	padding: 90px 0 90px 0;
	position: relative;
	z-index: 100;
}

.jumbotron:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0,0,0,0.4);
  content: ' ';
}

.jumbotron h1 {
	padding-bottom: 25px;
}

.jumbotron p {
	padding-bottom: 25px;
}

.btn-primary {
	background-color: #1abc9c;
	border: none;
	border-bottom: 3px solid #16a085;
	-webkit-transition: 0.2s all ease-in;
}

.btn-primary:hover {
	background-color: #16a085;
	border-color: #1abc9c;
}

/* === SERVICES === */

.services {
	text-align: center;
	color: #7f8c8d;
	padding-bottom: 60px;
	position: relative;
	z-index: 200;
}

.services h1 {
	padding-bottom: 20px;
}

.services h2 {
	font-weight: 400;
	padding-bottom: 20px;
}

.services p {
	padding-bottom: 20px;
	font-size: 16px;
}

.services i {
	font-size: 36px;
	color: #1abc9c;
}

/* === GALLERY === */

.gallery {
	background-color: #2c3e50;
	color: #ecf0f1;
	text-align: center;
	padding: 30px 0 30px 0;
}

.gallery h1 {
	padding-bottom: 30px;
}

.gallery img {
	margin: 0 auto;
	margin-bottom: 30px;
	-webkit-transition: 0.3s opacity ease-in, 0.3s border-color ease-in;
	transition: 0.3s opacity ease-in, 0.3s border-color ease-in;
	-o-transition: 0.3s opacity ease-in, 0.3s border-color ease-in;
	-moz-transition: 0.3s opacity ease-in, 0.3s border-color ease-in;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 3px solid transparent;
	border-radius: 10px;
}

.gallery img:hover {
	opacity: 0.6;
	border-color: #34495e;
}

/* === TESTIMONIALS === */

.testimonials {
	color: #ecf0f1;
	padding: 30px 0 30px 0;
	text-align: center;
}


/* === FOOTER === */

